body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(-60deg,#101841,#202b60)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-nav{
  position: relative;
}
.login-nav img{
  position: absolute;
  top: 8px;
  left: 16px;
  margin-top: 20px;
}
.hover:hover
{
  border-radius:25px;
  border:2px solid #73AD21;
  cursor: pointer;
  
}
